.btn {
  padding: 10px;
  margin: 30px;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 3px solid black;
  color: black;
}

#answer, #python, #ruby, #cSharp, #javascript {
  display:none;
}

body {
  text-align:center;
}

#answer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
  display: none;
  text-align: center;
  background-color: lightcoral;
  color: black;
  border: 10px solid black;
}



form#programming {
  background-color: #79B177;
  text-align: center;
  color:black;
}

.jumbotron {
  text-align:center;
  text-decoration: underline;
  color: white;
  background-color: black;
}

h2 {
  text-align: center;
}

img {
  height: 50%;
  width: 50%;
  border: 2px solid black;

}

#name {
  text-decoration: underline;
  text-emphasis: 900;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}
